public/downloads/*.AppImage filter=lfs diff=lfs merge=lfs -text
public/software-packages/*.exe filter=lfs diff=lfs merge=lfs -text
public/software-packages/*.zip filter=lfs diff=lfs merge=lfs -text
public/software-packages/*.dmg filter=lfs diff=lfs merge=lfs -text
public/software-packages/*.deb filter=lfs diff=lfs merge=lfs -text
public/software-packages/*.AppImage filter=lfs diff=lfs merge=lfs -text
