{{ define "main" }}
  {{- partial "content/breadcrumb.html" . -}}

  {{- if in .Params.categories "音乐内容" }}  <!-- Check if the category is "我可以怎么帮到你？" -->

  <div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-14 justify-center flex flex-col min-h-screen">

    <article class="prose lg:prose-lg mx-auto flex-grow">

      <header class="not-prose">
        <h1 id="title" class="text-4xl font-bold leading-normal text-center">{{ .Title }}</h1>

        <div id="writer" class="flex items-center space-x-4">
          {{- $name := .Site.Author.name -}}
          {{- with $avatar := resources.Get .Site.Author.avatar }}
            <img class="w-12 h-12 bg-black rounded-full" src="{{ $avatar.Permalink }}" alt="{{ $name }} avatar" width="{{ $avatar.Width }}" height="{{ $avatar.Height }}">
          {{ end -}}
          
          <ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">
          </ul>
        </div>
        
      </header>

      <div id="content" class="mb-14">
        <!-- Content -->
        {{- .Content -}}
      </div>

      <footer id="content-footer" class="not-prose">
      </footer>

    </article>

  </div>

  {{- end }}  <!-- End category check -->

{{ end }}
