<section class="mb-4">
  <div class="space-y-4" style="margin-top:18px;"> <!-- 增加卡片间距 -->
    {{ $blogPages := where .Site.RegularPages "Section" "blog" }}
    {{ range $blogPages }}
    <article class="bg-zinc-100 rounded-xl px-6 py-3 hover:bg-zinc-200 transition-colors min-h-[6px]">
      <a href="{{ .Permalink }}" class="block h-full flex flex-col justify-center">
        <h3 class="text-xl font-bold">{{ .LinkTitle }}</h3>
        <time class="text-sm text-zinc-500 mt-1" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "2006/01/02" }}
        </time>
        {{ if .Params.description }}
        <p class="text-zinc-600 text-sm mt-2" >{{ .Params.description }} </p>
        {{ end }}
      </a>
    </article>
    {{ end }}
  </div>
</section>
