<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Dynamic title for SEO -->
<title>{{- if .Page.IsHome -}}{{ .Site.Title }}{{- else -}}{{ .Title }} - {{ .Site.Title }} {{ end }}</title>
<!-- Dynamic description for SEO -->
<meta name="description" content="{{- with .Page.Description }}{{ . }}{{- else -}}{{ .Site.Params.description }}{{- end -}}">
{{- partialCached "head/css.html" . -}}
{{- partialCached "head/favicon.html" . -}}
{{- /* template "_internal/google_analytics.html" . */ -}}

<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="24f8b47e-5590-49d6-a19e-4c34929d6741"></script>

<!-- PayPal Button -->

<script 
  src="https://www.paypal.com/sdk/js?client-id=BAAdjqh0FzrMwRH9fqeYMsT9ovDAkGo0OZUipoGljE5ZYJJcQ51wkmAaZhLoY0gR5f6nHlu9hhm6GjBgBE&components=hosted-buttons&disable-funding=venmo&currency=EUR">
</script>