{{ define "main" }}

<!-- 网站内容区块 -->
<section class="mb-16">
  <div class="flex items-center mb-6">
    <h2 class="text-3xl md:text-4xl font-bold mr-auto">网站内容</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-y-10 gap-x-4">
    {{ $blogSection := site.GetPage "/blog" }}
    {{ if $blogSection }}
      {{- partial "content/card" $blogSection -}}
    {{ end }}
    
    {{ $lessonsPage := site.GetPage "lessons.md" }}
    {{ if $lessonsPage }}
      {{- partial "content/card" $lessonsPage -}}
    {{ end }}
    
    {{ $sightReadingPage := site.GetPage "sight-reading-tool.md" }}
    {{ if $sightReadingPage }}
      {{- partial "content/card" $sightReadingPage -}}
    {{ end }}
  </div>
</section>

<!-- 音乐内容区块 -->
<section class="mb-16">
  <div class="flex items-center mb-6">
    <h2 class="text-3xl md:text-4xl font-bold mr-auto">音乐内容</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 gap-x-4">
    {{ range where .Site.RegularPages "Params.categories" "intersect" (slice "音乐内容") }}
      {{- partial "content/card" . -}}
    {{ end }}
  </div>
</section>

{{ end }}